{% extends './components/Base.html' %}

{% block meta %}
	<title>Account</title>
    <style>
        div::-webkit-scrollbar {
            width: 0.35rem;
        }

        /**div::-webkit-scrollbar-track {
        }**/

        div::-webkit-scrollbar-thumb {
            background-color: rgb(221, 221, 221);
            border-radius: 50px;
        }
        #chatUser{
            border-bottom: 1px solid #dfdfdf;
        }
        #chatUser:hover{
            background: #f6f6f6
        }
        .mactivate{
            background: #f6f6f6
        }
        .chatbox{
            padding: 20px;
        }
        .senderMessage{
            text-align: left;
        }
        .receiverMessage{
            text-align: right;
        }
        #chatSide{
            overflow-y: scroll;
        }

        .senderMessage div{
            display: inline-block;
            padding: 10px 20px;
            background-color: rgba(246, 249, 255, 0.361);
            border-radius: 10px 10px 10px 0px;
            box-shadow: -2px 2px 11px 0px #e7e7e7;
            margin: 10px 0px;
            max-width: 80%;
        }

        .receiverMessage div{
            display: inline-block;
            padding: 10px 20px;
            background-color: rgba(176, 201, 255, 0.361);
            border-radius: 10px 10px 0px 10px;
            box-shadow: -2px 2px 11px 0px #e7e7e7;
            margin: 10px 0px;
            max-width: 80%;
        }
        .senderMessage > div > span, .receiverMessage > div > span{
            color: #000;
        }
        .senderMessage > div > small, .receiverMessage > div > small{
            font-size: smaller;
        }
        #sendMessageForm textarea{
            max-height: 100px;
        }
        .chatForm{
            border-top: 1px solid #e1e1e1;
            background-color: #fff;
        }
        #headChat{
            border-bottom: 1px solid #e1e1e1;
        }
    </style>
{% endblock meta %}

{% block content %}

{% include './components/header.html' %}
        <section class="account-section py-5">
            <div class="container">
                <div class="row">
                <!-- {% include "./components/accountSidebar.html" %} -->
                    <div class="col-md-12">
                        <!-- <h3>Fill the form to post a job</h3> -->
                        <div style="height: 90vh;" class="row shadow rounded-3 ">
                            <div style="border-right: 1px solid #dfdfdf; overflow-y: scroll;" class="col-md-4 h-100 p-0">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" id="chatUser" class="d-flex align-items-center gap-3 p-3 text-black fw-bold {% if request.META.PATH_INFO == '/dashboard/messages/' %} mactivate {% endif %}">
                                            <img class='rounded-circle border border-2 border-primary' width="50px" height="50px" src="http://127.0.0.1:8000/uploads/profile_pictures/android-chrome-512x512.png"></img>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="chatSide" class="col-md-8 h-100 p-0 position-relative">
                                <div class="position-sticky top-0 w-100 bg-white">
                                    <div id="headChat" class="d-flex d-flex align-items-center justify-content-between px-3 py-3 fw-bold">
                                        <div class="d-flex align-items-center gap-3">
                                            <img class='rounded-circle border border-2 border-primary' width="50px" height="50px" src="http://127.0.0.1:8000/uploads/profile_pictures/android-chrome-512x512.png"></img>
                                            <div>
                                                <span>Dashboard</span>
                                            </div>
                                        </div>
                                        <div class="block">
                                            <a href="{% url 'account' %}" class="btn btn-primary">Dashboard</a>
                                            <button class="btn btn-danger">Block</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="chatbox">
                                {% for message in messages_obj %}

                                    {% if message.messenger == request.user %}

                                        <div class="receiverMessage">
                                            <div>
                                                <span>{{message.body}}</span>
                                                <br/>
                                                <small>{{message.created_at}}</small>
                                            </div>
                                            <div class="rounded-circle p-0 shadow-none">
                                                <img class="rounded-circle border-2 border border-primary" src="{{message.messenger.profile_picture.url}}" alt="" height="40px" width="40px"/>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="senderMessage">
                                            <div class="rounded-circle p-0 shadow-none">
                                                <img class="rounded-circle border-2 border border-primary" src="{{message.messenger.profile_picture.url}}" alt="" height="40px" width="40px"/>
                                            </div>
                                            <div>
                                                <span>{{message.body}}</span>
                                                <br/>
                                                <small>{{message.created_at}}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}


                                </div>
                                <div class="chatForm position-sticky bottom-0 w-100">
                                    <form id="sendMessageForm" class="d-flex p-3 gap-3">
                                        <input id="inputmessage" class="form-control w-75" type="text" name="message" placeholder="Type your message..." required> </input>
                                        <button id="submitI" class="btn btn-primary w-25 h-auto" type="submit">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Account Area End -->

        {% include './components/footer.html' %}

        {{ room_name|json_script:"room-name" }}
        {{ user|json_script:"user" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user = JSON.parse(document.getElementById('user').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName+'&'+ user
            + '/'
        );

        document.querySelector('#sendMessageForm').addEventListener('submit', (event)=>{
            event.preventDefault();
            const messageInputDom = document.querySelector('#inputmessage');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': user,
            }));
            messageInputDom.value = '';
            //const box = document.querySelector("#chatSide");
            //box.scrollTop = box.scrollHeight;
        })
        chatSocket.onopen = (e)=>{
            console.log("Websocket opened!");
        }


        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            const reciverMessage = `<div class="receiverMessage">
                <div>
                    <span> ${data.message}</span>
                    <br/>
                    <small>${data.send_at}</small>
                </div>
                <div class="rounded-circle p-0 shadow-none">
                    <img class="rounded-circle border-2 border border-primary" src="${data.profile}" alt="" height="40px" width="40px"/>
                </div>
            </div>`;
            const senderMessage = `<div class="senderMessage">
                <div class="rounded-circle p-0 shadow-none">
                    <img class="rounded-circle border-2 border border-primary" src="${data.profile}" alt="" height="40px" width="40px"/>
                </div>
                <div>
                    <span>${data.message}</span>
                    <br/>
                    <small>${data.send_at}</small>
                </div>
            </div>`
            if (data.user == user){
                document.querySelector('.chatbox').innerHTML += reciverMessage
            }else{
                document.querySelector('.chatbox').innerHTML += senderMessage
            }


            // Scroll down to the bottom of the page on new messages
            const box = document.querySelector("#chatSide");
            box.scrollTop = box.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


    </script>

        {% endblock content %}
