{% extends './components/Base.html' %}

{% block meta %}
	<title>Account</title>
{% endblock meta %}

{% block content %}

{% include './components/header.html' %}
        <section class="account-section ptb-100">
            <div class="container">
                <div class="row">
                {% include "./components/accountSidebar.html" %}
                    <div class="col-md-8">
                        <div class="account-details">

                            {% if edit %}
                            <h3 class="account-title">Edit Company
                                {% if currentThumbnail%}
                                    <img width="50px" src="{{currentThumbnail.url}}" alt="" id="thumbNailPreview"/>
                                {% endif %}
                            </h3>
                            {% else %}
                                <h3>Add New Company</h3>

                            {% endif %}
                            <form class="needs-validation" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">

                                    {% for field in form %}
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ field.label_tag }} {{ field }}
                                                {% if field.errors %}
                                                <ul>
                                                    {% for error in field.errors %}
                                                        <li class="text-danger">{{error}}</li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                                {% if field.help_text %}
                                                <p class="help" id="{{ field.auto_id }}_helptext">
                                                    {{ field.help_text|safe }}
                                                </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                        {% if edit %}
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="post-btn account-btn ">
                                                Update
                                            </button>
                                        </div>
                                        {% else %}
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="post-btn account-btn ">
                                                    Add New Company
                                                </button>
                                            </div>
                                        {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Account Area End -->

        {% include './components/footer.html' %}

        <script>
            var editor1 = new RichTextEditor("#description_editor");
            var editor2 = new RichTextEditor("#job_requirment");
        </script>
        {% endblock content %}
