{% extends './components/Base.html' %}

{% block meta %}
	<title>Change Password</title>
{% endblock meta %}

{% block content %}

{% include './components/header.html' %}
        <section class="account-section ptb-100">
            <div class="container">
                <div class="row">
                {% include "./components/accountSidebar.html" %}
                    <div class="col-md-8">
                    <div class="account-details">
                        <h3>Change Password</h3>
                            <form class="basic-info"  method="post">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id_oldpassword">Current Password</label>
                                            <input type="password"  required name="oldpassword" class="form-control" placeholder="Current Password" id="id_oldpassword">
                                            {% if form.oldpassword.errors %}
                                                <div class="help-block with-errors text-danger">{{form.oldpassword.errors}}</div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id_password1">New Password</label>
                                            <input type="password" autocomplete="new-password" name="password1" class="form-control" required placeholder="New Password" id="id_password1">
                                            {% if form.password1.errors %}
                                                <div class="help-block with-errors text-danger">{{form.password1.errors}}</div>
                                            {% endif %}
                                            <div class="helptext" id="id_password1_helptext">
                                                <ul>
                                                    <li><p>Remind this</p>                                            <ul>
                                                        <li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li>
                                                    </ul></li>
                                                </ul>

                                        </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id_password2">Confirm New Password</label>
                                            <input name="password2" id="id_password2" type="password" class="form-control" placeholder="Confirm New Password" required>
                                            {% if form.password2.errors %}
                                                <div class="help-block with-errors text-danger">{{form.password2.errors}}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="account-btn">Save New Password</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Account Area End -->
        {% include './components/footer.html' %}
        {% endblock content %}
