{% extends './components/Base.html' %}

{% block content %}
{% include "./components/header.html" %}
<section class="account-section ptb-100">
    <div class="container">
        <div class="row">
        {% include "./components/accountSidebar.html" %}
            <div class="col-md-8">
                <div class="jobs ">

                    {% if companies %}

                        {% for company in companies %}

                        <div class="col-lg-12">
                            <div class="job-card-two shadow rounded-2">
                                <div class="row align-items-center">
                                    <div class="col-md-2">
                                        <div class="company-logo">
                                            <a href="#">
                                                <img width="100%" height="100%" class="rounded-circle object-fit" src="{{company.company_logo.url}}" alt="{{company.company_name}}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="job-info">
                                            <h3>
                                                <a href="#">{{company.company_name}}</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    <i class='bx bx-globe' ></i>
                                                    {{company.website}}
                                                </li>
                                                <li>
                                                    <i class='bx bx-envelope' ></i>
                                                    {{company.email}}
                                                </li>
                                                <li>
                                                    <i class='bx bx-phone' ></i>
                                                    {{company.phone_number}}
                                                </li>
                                                <li>
                                                    <i class='bx bx-group' ></i>
                                                    {{company.employ_volume_average}}
                                                </li>
                                                <li>
                                                    <i class='bx bx-location-plus'></i>
                                                    {{company.location}}
                                                </li>
                                            </ul>

                                            <span class="{% if company.status == 'active' %}bg-success text-white border-0 rounded-pill{% else %}rounded-pill{% endif %}">{{company.status}}</span>

                                            {% with company.jobs.all.count as companiesCount %}

                                            {% if companiesCount %}
                                                <span class="
                                                bg-primary text-white border-0 rounded-pill">
                                                <a>Total Job posted ( {{companiesCount}} )</a></span>
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="theme-btn text-end ">
                                            <a href="{% url 'edit-company' company.pk %}" class="default-btn rounded-pill fw-bolder">
                                                Edit
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    {% else %}
                        <div class="text-center">
                            You've not created any company please create one
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Account Area End -->
{% include "./components/footer.html" %}
{% endblock %}