{% extends './components/Base.html' %}

{% block meta %}
	<title>Account</title>
{% endblock meta %}

{% block content %}

{% include './components/header.html' %}
        <section class="account-section ptb-100">
            <div class="container">
                <div class="row">
                {% include "./components/accountSidebar.html" %}
                    <div class="col-md-8">
                    <div class="account-details">
                        <h3>Dashboard</h3>
                        <div class="row">

                            {% if request.user.is_hr %}
                                <div class="col-md-4">
                                    <div class="text-center p-5 shadow rounded-2">
                                        <h2>{{total_active_jobs}}</h2>
                                        <p>Active Jobs</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center p-5 shadow rounded-2">
                                        <h2>{{total_jobs}}</h2>
                                        <p>Total Job Posts</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center p-5 shadow rounded-2">
                                        <h2>{{total_companies}}</h2>
                                        <p>Total Companies</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="py-5">
                            <h3>My Address</h3>
                            <iframe height="400px" class="rounded-2 w-100" src="https://maps.google.com/maps?&amp;q=dhaka,rayerbag,282/2, merajnagar&amp;output=embed" frameborder="0"></iframe>
                        </div>

                        <!--    <h3>Basic Information</h3>
                            <form class="basic-info">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your Name</label>
                                            <input type="text" class="form-control" placeholder="Your Name">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your Email</label>
                                            <input type="email" class="form-control" placeholder="Your Email">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your Phone</label>
                                            <input type="number" class="form-control" placeholder="Your Phone">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Job Title</label>
                                            <input type="text" class="form-control" placeholder="Job Title">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="account-btn">Edit</button>
                                        <button type="submit" class="account-btn">Save</button>
                                    </div>
                                </div>
                            </form>

                            <h3>Address</h3>
                            <form class="-candidate-address">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your Country</label>
                                            <input type="text" class="form-control" placeholder="Your Country">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your City</label>
                                            <input type="text" class="form-control" placeholder="Your City">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Zip Code</label>
                                            <input type="number" class="form-control" placeholder="City Zip">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Region</label>
                                            <input type="text" class="form-control" placeholder="Your Region">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="account-btn">Edit</button>
                                        <button type="submit" class="account-btn">Save</button>
                                    </div>
                                </div>
                            </form>

                            <h3>Other information</h3>
                            <form class="cadidate-others">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Age</label>
                                            <input type="number" class="form-control" placeholder="Your Age">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Work Experience</label>
                                            <input type="number" class="form-control" placeholder="Work Experience">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Language</label>
                                            <input type="text" class="form-control" placeholder="Language">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Skill</label>
                                            <input type="text" class="form-control" placeholder="Skills">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="account-btn">Edit</button>
                                        <button type="submit" class="account-btn">Save</button>
                                    </div>
                                </div>
                            </form>

                            <h3>Social links</h3>
                            <form class="candidates-sociak">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Facebook</label>
                                            <input type="text" class="form-control" placeholder="www.facebook.com/user">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Twitter</label>
                                            <input type="number" class="form-control" placeholder="www.twitter.com/user">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Linkedin</label>
                                            <input type="text" class="form-control" placeholder="www.Linkedin.com/user">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Github</label>
                                            <input type="text" class="form-control" placeholder="www.Github.com/user">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="account-btn">Edit</button>
                                        <button type="submit" class="account-btn">Save</button>
                                    </div>
                                </div>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Account Area End -->

        <!-- Subscribe Section Start -->
        <section class="subscribe-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h2>Get New Job Notifications</h2>
                            <p>Subscribe & get all related jobs notification</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">

                            <button class="default-btn sub-btn" type="submit">
                                Subscribe
                            </button>

                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Section End -->
        {% include './components/footer.html' %}
        {% endblock content %}
