{% extends './components/Base.html' %}


{% block meta %}
    <title>{{blog.title}}</title>
{% endblock meta %}
    
    {% block content %}
    {% include './components/header.html' %}

        <!-- Page Title Start -->
        <section class="page-title title-bg22">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>{{blog.title}}</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li> <a href="{% url 'blogs' %}">Blogs</a></li>
                        <li>{{blog.title|truncatechars:20}}</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

		<!-- Blog Details Section Start -->
        <section class="blog-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-dedails-text">
                            <div class="blog-details-img">
                                <img src="{{blog.thumbnail.url}}" alt="{{blog.title}}">
                            </div>

                            <div class="blog-meta">
                                <ul>
									<li>
										<i class='bx bxs-user'></i>
										{{blog.author.get_full_name}}
									</li>
									<li>
										<i class='bx bx-calendar'></i>
										{{blog.created_at.date}}
									</li>
									<li>
										<i class='bx bx-like'></i>
										{{blog.likes.all.count}}
									</li>
									<li>
                                        <a href="#comments" class="text-black" title="comments" >
										<i class='bx bx-comment'></i>
										{{blog.comments.all.count}}</a>
									</li>
								</ul>
                            </div>

                            <h3 class="post-title">{{blog.title}}</h3>

                            <p>{{blog.content}}</p>

                            <div class="details-tag">
                                <ul>
                                    <li>Tags:</li>
                                    {% for tag in tags %}
                                        <li>
                                            <a href="#">{{tag}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id="comments">
                        {% with comments=blog.comments.all %}
                        {% if comments %}
                        
                            <h3 class="my-4">Comments</h3>
                            {% for comment in comments %}

                            {% if not comment.reply %}

                            <div class="shadow-sm p-4 mb-3 rounded-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="pb-3">
                                            {% if comment.user.profile_picture %}
                                            <span class="me-3"><img width="50" height="50" src="{{comment.user.profile_picture.url}}" alt="" class="object-fit rounded-circle border border-2 border-primary"></span>
                                            {% else %}
                                            <span class="me-3"><img width="50" height="50" src="/static/assets/img/account.jpg" alt="" class="object-fit rounded-circle border border-2 border-primary"></span>
                                            {% endif %}
                                                

                                            <span class="text-black"><b>{{comment.user.get_full_name}}</b></span>
                                        </div>
                                        <p class="mb-0">{{comment.comment}}</p>
                                    </div>
                                </div>
                            </div>

                            {% for reply in comment.replies.all %}

                            <div class="shadow-sm py-2 px-4 mb-3 w-75 ms-auto rounded-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="pb-2">
                                            {% if reply.user.profile_picture %}
                                            <span class="me-2"><img width="30" height="30" src="{{reply.user.profile_picture.url}}" alt="" class="object-fit rounded-circle border border-2 border-success"></span>
                                            {% else %}
                                            <span class="me-2"><img width="30" height="30" src="/static/assets/img/account.jpg" alt="" class="object-fit rounded-circle border border-2 border-success"></span>
                                            {% endif %}

                                            <span class="text-black"><b>{{reply.user.get_full_name}}</b></span>
                                        </div>
                                        <p class="mb-0">Replied: {{reply.comment}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}

                            {% endfor %}
                        {% else %}
                            <div class="comment-form mt-5 p-4 rounded-3">
                                <span>
                                    No comments yet, be the first to comment!
                                </span>
                            </div>
                        {% endif %}
                        {% endwith %}
                        {% if request.user.is_authenticated %}
                            <form class="comment-form" method="post">
                                {% csrf_token %}
                                <h3>Leave a Reply</h3>

                                <div class="row">
                                    <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Comment</label>
                                                <textarea name="comment" class="form-control comment-box" cols="30" rows="6" placeholder="Your Comment"></textarea>
                                            </div>
                                    </div>
                                </div>
                                    <button type="submit" class="comment-btn rounded-2">
                                        Post a Comment
                                    </button>
                            </form>
                        {% else %}
                            <p class="text-center"> To start commenting
                            <a href="{% url 'signIn' %}" class="text-decoration-none text-dark">Login</a> or <a href="{% url 'signUp' %}" class="text-decoration-none text-dark">Create an account</a></p>
                        {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="top-0 position-sticky">
                            <div class="blog-widget blog-search rounded-3">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <button>
                                            <i class='bx bx-search-alt-2'></i>
                                        </button>
                                    </div>
                                </form>
                            </div>

                        <div class="blog-widget rounded-3">
                            <h3>Popular Post</h3>
                            {% for related_post in related_posts %}
                                <article class="popular-post">
                                    <a href="{% url 'blog' related_post.slug %}" class="blog-thumb">
                                        <img width="100%" height="100%" class="object-fit" src="{{related_post.thumbnail.url}}" alt="{{related_post.title}}">
                                    </a>
                                    <div class="info">
                                        <time datetime="2021-04-08">{{related_post.created_at.date}}</time>
                                        <h4>
                                            <a href="{% url 'blog' related_post.slug %}">{{related_post.title}}</a>
                                        </h4>
                                    </div>
                                </article>
                            {% endfor %}

                        </div>

                        <div class="blog-widget blog-category rounded-3 ">
                            <h3>Category</h3>
                            <ul>
                                {% for category in categories %}
                                    {% with count=category.posts.all.count %}
                                        {% if count >= 3 %}
                                            <li>
                                                <a href="#">{{category}}</a>
                                                <span>({{count}})</span>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="blog-widget blog-tags rounded-3">
                            <h3>Tags</h3>
                            <ul>
                            {% for tag in tags %}
                                <li>
                                    <a class="rounded-2" href="#">{{tag}}</a>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
		<!-- Blog Details Section End -->

        <!-- Subscribe Section Start -->
        <section class="subscribe-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h2>Get New Job Notifications</h2>
                            <p>Subscribe & get all related jobs notification</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
    
                            <button class="default-btn sub-btn" type="submit">
                                Subscribe
                            </button>
    
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Section End -->
        {% include './components/footer.html' %}
        {% endblock content %}