{% extends './components/Base.html' %}


{% block content %}

{% block meta %}
    <title>Contact us</title>
{% endblock meta %}

{% include './components/header.html' %}
        <!-- Page Title Start -->
        <section class="page-title title-bg23">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Contact Us</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

        <!-- Contact Section Start -->
        <div class="contact-card-section ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="contact-card">
                                    <i class='bx bx-phone-call'></i>
                                    <ul>
                                        <li>
                                            <a href="tel:+145664474574">
                                                +1-456-644-7457
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tel:17459674567">
                                                +1-745-967-4567
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="contact-card">
                                    <i class='bx bx-mail-send' ></i>
                                    <ul>
                                        <li>
                                            <a href="mailto:info@jovie.com">
                                                info@jovie.com
                                            </a>
                                        </li>
                                        <li>
                                            <a href="mailto:hello@jovie.com">
                                                hello@jovie.com
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
        
                            <div class="col-md-4 col-sm-6 offset-sm-3 offset-md-0">
                                <div class="contact-card">
                                    <i class='bx bx-location-plus' ></i>
                                    <ul>
                                        <li>
                                            123, Denver, USA
                                        </li>
                                        <li>
                                            Street view 3/B, USA
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section End -->

        <!-- Contact Form Start -->
        <section class="contact-form-section pb-100">

            <div class="container">
                <div class="contact-area">
                    <h3>Lets' Talk With Us</h3>
                    <form id="contactForm" method="post" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="full_name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Name">
                                    {% if form.full_name.errors %}
                                        <div class="help-block with-errors text-danger">{{form.full_name.errors}}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email">
                                    {% if form.email.errors %}
                                        <div class="help-block with-errors text-danger">{{form.email.errors}}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tel" name="phone_number" id="number" class="form-control" required data-error="Please enter your number" placeholder="Phone Number">
                                    {% if form.phone_number.errors %}
                                        <div class="help-block with-errors text-danger">{{form.phone_number.errors}}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject" class="form-control" required data-error="Please enter your subject" placeholder="Your Subject">
                                    {% if form.subject.errors %}
                                        <div class="help-block with-errors text-danger">{{form.subject.errors}}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control message-field" id="message" cols="30" rows="7" required data-error="Please type your message" placeholder="Write Message"></textarea>
                                    {% if form.message.errors %}
                                        <div class="help-block with-errors text-danger">{{form.message.errors}}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 text-center">
                                <button type="submit" class="default-btn contact-btn">
                                    Send Message
                                </button>
                                <div id="msgSubmit" class="h3 alert-text text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- Contact Form End -->

        <!-- Subscribe Section Start -->
        <section class="subscribe-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h2>Get New Job Notifications</h2>
                            <p>Subscribe & get all related jobs notification</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">

                            <button class="default-btn sub-btn" type="submit">
                                Subscribe
                            </button>

                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Section End -->
    {% include './components/footer.html' %}
{% endblock content %}