{% extends './components/Base.html' %}


{% block meta %}
        <title>{{job.title}}</title>
{% endblock meta %}

{% block content %}
    {% include './components/header.html' %}

        <!-- Page Title Start -->
        <section class="page-title title-bg6">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>{{job.title}} Details</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'jobs' %}">Jobs</a>
                        </li>
                        <li>{{job.title|truncatechars:15}}</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

        <!-- Job Details Section Start -->
        <section class="job-details ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="job-details-text">
                                    <div class="job-card">
                                        <div class="row align-items-center">
                                            <div class="col-md-2">
                                                <div class="company-logo rounded-2">
                                                    <img class="object-fit" width="100%" height="100%" src="{{job.company.company_logo.url}}" alt="{{job.company.company_name}}">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="job-info">
                                                    <h3>{{job.title}}</h3>
                                                    <ul>
                                                        <li>
                                                            <i class='bx bx-location-plus'></i>
                                                            {{job.address}}
                                                        </li>
                                                        <li>
                                                            <i class='bx bx-filter-alt' ></i>
                                                            {{job.job_category.name}}
                                                        </li>
                                                        <li>
                                                            <i class='bx bx-briefcase' ></i>
                                                            {{job.looking_position}}
                                                        </li>
                                                    </ul>
                                                    <span>
                                                        <i class='bx bx-paper-plane' ></i>
                                                        Apply Before: {{job.last_date_of_apply}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="details-text text-black">
                                        <h3>Description</h3>
                                        {% autoescape off %}
                                            {{job.description}}
                                        {% endautoescape %}
                                    </div>
                                    <div class="details-text text-black ">
                                        <h3>Requirements</h3>
                                <p class="text-black" >
                                    {% autoescape off %}
                                        {{job.requirements}}
                                    {% endautoescape %}
                                </p>
                                    </div>

                                    <div class="details-text">
                                        <h3>Job Details</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td><span>Company: </span></td>
                                                            <td>{{job.company.company_name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Location: </span></td>
                                                            <td>{{job.company.location}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Job Type: </span></td>
                                                            <td>{{job.job_type}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Email: </span></td>
                                                            <td><a href="mailto:{{job.company.email}}">{{job.company.email}}</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td><span>Experince: </span></td>
                                                            <td>{{job.minimum_experience}} Years</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Language: </span></td>
                                                            <td>{{job.language}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Salary: </span></td>
                                                            <td>{{job.salary}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Website: </span></td>
                                                            <td><a href="{{job.company.website}}">{{job.company.website}}</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% if user == job.user %}
                                        <div class="theme-btn rounded-2 text-center">
                                            <a href="{% url 'edit-job' job.id %}" class="default-btn rounded-2 w-100">
                                                Edit
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="theme-btn text-center ">
                                        {% if job.last_date_of_apply >= today %}

                                            {% if user.is_authenticated %}
                                                <a type="button" class="default-btn rounded-2 w-100" data-toggle="modal" data-target="#applyModel">Apply Now</a>
                                                {% else %}
                                                <a type="button" class="default-btn rounded-2 w-100 disabled" disabled='true'>Login To Apply Now</a>
                                            {% endif %}


                                            {% if not user.is_authenticated %}
                                                <p class="text-center">To apply you must have to <a href="{% url 'signIn' %}">login</a> to your account or <a href="{% url 'signUp' %}">create an account</a> </p>
                                                {% endif %}
                                            {% else %}
                                                <a class="btn btn-secondary disabled rounded-2 w-100" disabled >Apply date is end</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="job-sidebar">
                            <h3>Posted By</h3>
                            <div class="posted-by">
                                {% if job.user.profile_picture %}
                                    <img width="80px" height="80px" src="{{job.user.profile_picture.url}}" alt="{{job.user.get_full_name}}">
                                {% else %}
                                    <img src="/static/assets/img/client-1.png" alt="{{job.user.get_full_name}}">
                                {% endif %}
                                <h4>{{job.user.get_full_name}}</h4>
                                {% if job.user.hr_profile.position %}
                                    <span>{{job.user.hr_profile.position}}</span>
                                    {% else %}
                                    <span>No Position Set Yet!</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="job-sidebar">
                            <h3>Location</h3>
                            <iframe class="rounded-2" src="https://maps.google.com/maps?&amp;q={{job.country}},{{job.city}},{{job.address}}&amp;output=embed" frameborder="0"></iframe>
                        </div>

                        <div class="job-sidebar">
                            <h3>Keywords</h3>
                            <ul>
                                {% if keywords %}
                                    {% for keyword in keywords %}
                                        <li>
                                            <a href="">{{keyword}}</a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <p> No Keyword Found!</p>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="job-sidebar social-share">
                            <h3>Share In</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{request.META.HTTP_HOST}}{{request.META.PATH_INFO}}" target="_blank">
                                        <i class="bx bxl-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/intent/tweet?text={{job.title}}&url={{request.META.HTTP_HOST}}{{request.META.PATH_INFO}}" target="_blank">
                                        <i class="bx bxl-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://pinterest.com/pin/create/button/?url={{request.META.HTTP_HOST}}{{request.META.PATH_INFO}}&media={{request.META.HTTP_HOST}}{{job.thumbnail.url}}&description={{job.title}}" target="_blank">
                                        <i class="bx bxl-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.META.HTTP_HOST}}{{request.META.PATH_INFO}}&title={{job.title}}" target="_blank">
                                        <i class="bx bxl-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Job Details Section End -->

{% if related_jobs %}
        <!-- Job Section End -->
        <section class="job-style-two pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Jobs You May Be Interested In</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida</p>
                </div>

            <div class="row">
                {% for related_job in related_jobs %}
                    <div class="col-lg-12">
                        <div class="job-card-two">
                            <div class="row align-items-center">
                                <div class="col-md-1">
                                    <div class="company-logo">
                                        <a href="{% url 'job' related_job.pk %}">
                                            <img class="object-fit rounded-circle" width="100%" height="100%" src="{{related_job.thumbnail.url}}" alt="logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="job-info">
                                        <h3>
                                            <a href="{% url 'job' related_job.pk %}">{{related_job.title|truncatechars:40}}</a>
                                        </h3>
                                        <ul>
                                            <li>
                                                <i class='bx bx-briefcase' ></i>
                                                {{related_job.job_category}}
                                            </li>
                                            <li>
                                                <i class='bx bx-location-plus'></i>
                                                {{related_job.address}}
                                            </li>
                                            <li>
                                                <i class='bx bx-stopwatch' ></i>
                                                {{related_job.created_at.date}}
                                            </li>
                                        </ul>

                                        <span>{{related_job.job_type}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="theme-btn text-end">
                                        <a href="{% url 'job' related_job.pk %}" class="default-btn">
                                            Browse Job
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- Job Section End -->
{% endif %}




    <div class="modal fade" id="applyModel" tabindex="-1" role="dialog" aria-labelledby="applyModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyModelLabel">Apply Job Now</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'job-apply' job.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-danger">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




        <!-- Subscribe Section Start -->
        <section class="subscribe-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h2>Get New Job Notifications</h2>
                            <p>Subscribe & get all related jobs notification</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">

                            <button class="default-btn sub-btn" type="submit">
                                Subscribe
                            </button>

                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Section End -->
        {% include './components/footer.html' %}
        <!-- <script>
            const jobId = '{{job.id}}'
            let webScoketurl = new WebSocket(`ws://localhost:8000/ws/job-detail/${jobId}`)
            webScoketurl.onopen = (e)=>{
                console.log('just opened',e)
            }
            webScoketurl.onclose = (e)=>{
                console.log('just closed',e)
            }
            webScoketurl.onmessage = (e)=>{
                console.log('just messaged',e)
            }
            webScoketurl.onerror = (e)=>{
                console.log('Error',e)
            }
        </script> -->
        {% endblock content %}