{% extends './components/Base.html' %}
{% load static %}


{% block meta %}
	<title>Jobs</title>
{% endblock meta %}

{% block content %}
	{% include './components/header.html' %}



        <!-- Page Title Start -->
        <section class="page-title title-bg5">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Jobs</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>Jobs</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

		<!-- Jobs Section Start -->
		<section class="job-section jobs-grid-section pt-100 pb-70">
			<div class="container">
				<div class="row">
					{% if jobs %}

						{% for job in jobs %}
							<div class="col-md-6">
								<div class="job-card rounded-2">
									<div class="row align-items-center">
										<div class="col-lg-3">
											<div class="thumb-img rounded-2">
												<a href="{% url 'job' job.pk %}">
													<img src="{{job.company.company_logo.url}}" alt="{{job.company.company_name}}">
												</a>
											</div>
										</div>

										<div class="col-lg-6">
											<div class="job-info">
												<h3>
													<a href="{% url 'job' job.pk %}">{{job.title}}</a>
												</h3>
												<ul>
													<li>Via <a href="#">{{job.user.get_full_name}}</a></li>
													<li>
														<i class='bx bx-location-plus'></i>
														{{job.address}}
													</li>
													<li>
														<i class='bx bx-filter-alt'></i>
														{{job.job_category.name}}
													</li>
													<li>
														<i class='bx bx-briefcase' ></i>
														{{job.looking_position}}
													</li>
												</ul>
											</div>
										</div>

										<div class="col-lg-3">
											<div class="job-save">
												<span>{{job.job_type}}</span>

												{% if user.is_authenticated %}
													<form action="{% url 'loved_job' job.pk %}" method="post">
														{% csrf_token %}
														<button type="submit">
															{% if job in loved_jobs %}
																<a title="Marked as favorite">
																	<i class='bx bx-heart bg-danger text-white'></i>
																</a>
																{% else %}
																<a title="Mark as favorite">
																	<i class='bx bx-heart'></i>
																</a>
															{% endif %}
														</button>
													</form>
												{% else %}
													<button>
														<a href="{% url 'signIn' %}" title="Login First to mark it favorite job">
															<i class='bx bx-heart'></i>
														</a>
													</button>
												{% endif %}



													{% if job.last_date_of_apply <= today %}
													<p class="text-danger">
													<i class='bx bx-stopwatch '>
													</i>
														Expired
													</p>
													{% else %}
													<p>
														<i class='bx bx-stopwatch '>
														</i>
														{{job.last_date_of_apply}}
													</p>
													{% endif %}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}

					{% else %}

						<div class="py-5 text-center"><p>No active job available {% if location and keyword %} for "{{keyword}} in {{location}}"{% endif %}
							</p></div>

					{% endif %}

                </div>
				{% if page_obj.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

					{% if page_obj.has_previous %}

                        <li class="page-item">
                            <a class="page-link"
									{% if query %}
									href="?keyword={{keyword}}&location={{location}}&page={{page_obj.previous_page_number}}"
									{% else %}
									href="?page={{page_obj.previous_page_number}}"
									{% endif %} tabindex="-{{page_obj.previous_page_number}}">
                                <i class='bx bx-chevrons-left bx-fade-left'></i>
                            </a>
                        </li>
						{% else %}
						<li class="page-item disabled">
                            <a class="page-link" href="#"  aria-disabled="true">
                                <i class='bx bx-chevrons-left text-dark'></i>
                            </a>
                        </li>
						{% endif %}

						{% if page_obj.has_other_pages %}
							{% for page in page_obj.paginator %}
								<li class="page-item"><a class="page-link {% if page_obj.number == page.number %} active {% endif %}"
										{% if query %}
										href="?keyword={{keyword}}&location={{location}}&page={{page.number}}"
										{% else %}
										href="?page={{page.number}}"
										{% endif %}
									>{{page.number}}</a></li>
							{% endfor %}
						{% endif %}


						{% if page_obj.has_next %}
							<li class="page-item">
								<a class="page-link"
								{% if query %}
									href="?keyword={{keyword}}&location={{location}}&page={{page_obj.next_page_number}}"
								{% else %}
									href="?page={{page_obj.next_page_number}}"
								{% endif %}
								>
									<i class='bx bx-chevrons-right bx-fade-right'></i>
								</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#"
								aria-disabled="true"
								>
									<i class='bx bx-chevrons-right text-dark'></i>
								</a>
							</li>
						{% endif %}

                    </ul>
                </nav>
				{% endif %}
			</div>
		</section>
		<!-- Jobs Section End -->
        <!-- Subscribe Section Start -->
        <section class="subscribe-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h2>Get New Job Notifications</h2>
                            <p>Subscribe & get all related jobs notification</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
    
                            <button class="default-btn sub-btn" type="submit">
                                Subscribe
                            </button>
    
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Section End -->

		{% include './components/footer.html' %}
		{% endblock content %}