{% extends "./components/Base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}


{% block meta %}
    <title>Sign In</title>
{% endblock meta %}
    

{% block content %}
{% include './components/header.html' %}

        <!-- Page Title Start -->
        <section class="page-title title-bg12">
            <div class="d-table">
                <div class="d-table-cell">
                    {% element h2 %}
                    {% trans "Sign In" %}
                    {% endelement %}
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Sign In</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->
        <!-- Sign In Section Start -->
        <div class="signin-section ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
                        <form class="signin-form" method="post">
                            {% csrf_token %}
                            {% if form.errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-error text-danger text-center">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="form-group">
                              <label for="{{form.login.id_for_label }}" >Enter Email</label>
                              <input type="email" name="{{form.login.html_name}}" class="form-control" placeholder="Enter Your Email" autocomplete="email" required id="{{form.login.id_for_label }}">
                              {% if form.errors %}
                                <ul class="errorlist text-danger">
                                    {% for error in form.errors.login %}
                                        <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{form.password.id_for_label }}">Enter Password</label>
                                <input type="password" name="{{form.password.html_name}}" class="form-control" autocomplete="current-password" placeholder="Enter Your Password" aria-describedby="id_password_helptext" required id="{{ form.password.id_for_label }}">
                                {% if form.errors %}
                                <ul class="errorlist text-danger">
                                    {% for error in form.errors.password %}
                                        <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <span class="helptext" id="id_password_helptext"><a href="/">Forgot your password?</a></span>
                            </div>
                            <div class="form-group">
                                <label for="id_remember">Remember Me:</label>
                                <input type="checkbox" name="remember" id="id_remember">
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden"
                                    name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                            {% endif %}

                            <div class="signin-btn text-center">
                                <button type="submit">Sign In</button>
                            </div>

                            <!-- <div class="other-signin text-center">
                                <span>Or sign in with</span>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class='bx bxl-google'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class='bx bxl-linkedin'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->

                            <div class="create-btn text-center">
                                <p>Not have an account?
                                    <a href="{% url 'signUp' %}">
                                        Create an account
                                        <i class='bx bx-chevrons-right bx-fade-right'></i>
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>  
                </div>
            </div>
        </div>
        <!-- Sign In Section End -->

        <!-- Subscribe Section Start -->
        <section class="subscribe-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h2>Get New Job Notifications</h2>
                            <p>Subscribe & get all related jobs notification</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
                            <button class="default-btn sub-btn" type="submit">
                                Subscribe
                            </button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Section End -->

    {% include './components/footer.html' %}
{% endblock content %}
