{% extends './components/Base.html' %}

{% block meta %}
	<title>Sign UP</title>
{% endblock meta %}

{% block content %}

{% include './components/header.html' %}

        <!-- Page Title Start -->
        <section class="page-title title-bg13">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Sign Up</h2>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Sign Up</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

        <!-- Sign up Section Start -->
        <div class="signup-section ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
                        <form class="signup-form" method="post">
                            {% csrf_token %}
                            <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Enter First Name</label>
                                        <input type="text" name="first_name" class="form-control" autocomplete="family-name" placeholder="Enter First Name" required>
                                        {% if form.errors.first_name %}
                                            <div class="errorlist text-danger">
                                                {% for error in form.errors.first_name %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Enter Last Name</label>
                                        <input type="text" name="last_name" class="form-control" autocomplete="given-name" placeholder="Enter Last Name" required>
                                        {% if form.errors.last_name %}
                                            <div class="errorlist text-danger">
                                                {% for error in form.errors.last_name %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                            <div class="form-group">
                                <label>Enter Email Address</label>
                                <input type="email" class="form-control" name="email" autocomplete="email" placeholder="Enter Your Email" required>
                                {% if form.errors.email %}
                                            <div class="errorlist text-danger">
                                                {% for error in form.errors.email %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Enter Phone Number</label>
                                <input type="tel" class="form-control" name="phone_number" autocomplete="tel-country-code" placeholder="+115646556115" maxlength="16" required>
                                {% if form.errors.phone_number %}
                                            <div class="errorlist text-danger">
                                                {% for error in form.errors.phone_number %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Enter Password</label>
                                <input type="password" name="password1" class="form-control" placeholder="Enter Your Password" required>
                                {% if form.errors.password1 %}
                                            <div class="errorlist text-danger">
                                                {% for error in form.errors.password1 %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Enter Confirm Password</label>
                                <input type="password" name="password2" class="form-control" placeholder="Enter Your Password (again)" required>
                                {% if form.errors.password2 %}
                                            <div class="errorlist text-danger">
                                                {% for error in form.errors.password2 %}
                                                    <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                            </div>

                            <div class="signup-btn text-center">
                                <button type="submit">Sign Up</button>
                            </div>

                            <!-- <div class="other-signup text-center">
                                <span>Or sign up with</span>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class='bx bxl-google'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class='bx bxl-linkedin'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->

                            <div class="create-btn text-center">
                                <p>
                                    Have an Account?
                                    <a href="signin.html">
                                        Sign In
                                        <i class='bx bx-chevrons-right bx-fade-right'></i>
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>  
                </div>
            </div>
        </div>
        <!-- Sign Up Section End -->

        <!-- Subscribe Section Start -->
        <section class="subscribe-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h2>Get New Job Notifications</h2>
                            <p>Subscribe & get all related jobs notification</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
    
                            <button class="default-btn sub-btn" type="submit">
                                Subscribe
                            </button>
    
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Section End -->
        {% include './components/footer.html' %}
        {% endblock content %}
