<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/static/assets/css/boxicon.min.css" />
    <link rel="stylesheet" href="/static/assets/fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="/static/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="stylesheet" href="/static/assets/css/dark.css" />
    <link rel="stylesheet" href="/static/assets/css/responsive.css" />
    {% block meta %}
    
    {% endblock meta %}
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png" />
  </head>

  <body>
    <div class="loader-content">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
        </div>
      </div>
    </div>
{% block content %}

{% endblock content %}
    <div class="copyright-text text-center">
    <p>
        © Jovie is Developed With Love By
        <a href="https://redowan.mercegrower.com" target="_blank">Redowan Ahmed</a>
    </p>
    </div>
    <div class="top-btn">
      <i class="bx bx-chevrons-up bx-fade-up"></i>
    </div>

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/jquery.nice-select.min.js"></script>
    <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/assets/js/form-validator.min.js"></script>
    <!-- <script src="/static/assets/js/contact-form-script.js"></script> -->
    <script src="/static/assets/js/meanmenu.js"></script>
    <script src="/static/assets/js/custom.js"></script>
  </body>
</html>
