<!-- Navbar Area Start -->
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
      <a href="{% url 'home' %}" class="logo">

        <img src="/static/assets/img/logo.png" alt="logo" />
      </a>
    </div>
    <!-- Menu For Desktop Device -->
    <div class="main-nav">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/static/assets/img/logo.png" alt="logo" />
          </a>
          <div
            class="collapse navbar-collapse mean-menu"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav m-auto">
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link {% if request.META.PATH_INFO == '/' %} active {% endif %}">Home</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link {% if request.META.PATH_INFO == '/about-us/' %} active {% endif %}">About</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">Jobs</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="find-job.html" class="nav-link">Find A Job</a>
                  </li>
                  <li class="nav-item">
                    <a href="post-job.html" class="nav-link">Post A Job</a>
                  </li>
                  <li class="nav-item">
                    <a href="job-list.html" class="nav-link">Job List</a>
                  </li>
                  <li class="nav-item">
                    <a href="job-grid.html" class="nav-link">Job Grid</a>
                  </li>
                  <li class="nav-item">
                    <a href="job-details.html" class="nav-link">Job Details</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">Candidates</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="candidate.html" class="nav-link">Candidates</a>
                  </li>
                  <li class="nav-item">
                    <a href="candidate-details.html" class="nav-link"
                      >Candidates Details</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="company.html" class="nav-link">Company</a>
                  </li>
                  <li class="nav-item">
                    <a href="pricing.html" class="nav-link">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle">Profile</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="account.html" class="nav-link">Account</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle">Member</a>
  
                        <ul class="dropdown-menu">
                          <li class="nav-item">
                            <a href=" {% url 'signIn' %}" class="nav-link">Sign In</a>
                          </li>
                          <li class="nav-item">
                            <a href=" {% url 'signUp' %}" class="nav-link">Sign Up</a>
                          </li>
                          <li class="nav-item">
                            <a href="reset-password.html" class="nav-link"
                              >Reset Password</a
                            >
                          </li>
                        </ul>
                      </li>
  
                      <li></li>
                      <li class="nav-item">
                        <a href="resume.html" class="nav-link">Resume</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="404.html" class="nav-link">404 Page</a>
                  </li>
                  <li class="nav-item">
                    <a href="testimonial.html" class="nav-link">Testimonials</a>
                  </li>
                  <li class="nav-item">
                    <a href="faq.html" class="nav-link">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Catagories</a>
                  </li>
                  <li class="nav-item">
                    <a href="privacy-policy.html" class="nav-link"
                      >Privacy & Policy</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="terms-condition.html" class="nav-link"
                      >Terms & Conditions</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">Blog</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="blog.html" class="nav-link">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a href="blog-two" class="nav-link">Blog Two</a>
                  </li>
                  <li class="nav-item">
                    <a href="blog-details.html" class="nav-link">Blog Details</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="{% url 'contact' %}" class="nav-link {% if request.META.PATH_INFO == '/contact-us/' %} active {% endif %}">Contact Us</a>
              </li>
            </ul>
  
            <div class="other-option">
               
              <a href=" {% url 'signUp' %}" class="signup-btn">Sign Up</a>
              <a href=" {% url 'signIn' %}" class="signin-btn">Sign In</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Navbar Area End -->
  