<div class="navbar-area">
    <div class="mobile-nav">
      <a href="{% url 'home' %}" class="logo">
        <img src="/static/assets/img/logo.png" alt="logo" />
      </a>
    </div>
    <div class="main-nav">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/static/assets/img/logo.png" alt="logo" />
          </a>
          <div
            class="collapse navbar-collapse mean-menu"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav m-auto">
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link {% if request.META.PATH_INFO == '/' %} active {% endif %}">Home</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link {% if request.META.PATH_INFO == '/about-us/' %} active {% endif %}">About</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'jobs' %}" class="nav-link {% if 'jobs' in request.META.PATH_INFO  %} active {% endif %}">Jobs</a>
              </li>
              <!-- <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">Candidates</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="candidate.html" class="nav-link">Candidates</a>
                  </li>
                  <li class="nav-item">
                    <a href="candidate-details.html" class="nav-link"
                      >Candidates Details</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="company.html" class="nav-link">Company</a>
                  </li>
                  <li class="nav-item">
                    <a href="pricing.html" class="nav-link">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle">Profile</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="account.html" class="nav-link">Account</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle">Member</a>
  
                        <ul class="dropdown-menu">
                          <li class="nav-item">
                            <a href=" {% url 'signIn' %}" class="nav-link">Sign In</a>
                          </li>
                          <li class="nav-item">
                            <a href=" {% url 'signUp' %}" class="nav-link">Sign Up</a>
                          </li>
                          <li class="nav-item">
                            <a href="reset-password.html" class="nav-link"
                              >Reset Password</a
                            >
                          </li>
                        </ul>
                      </li>
  
                      <li></li>
                      <li class="nav-item">
                        <a href="resume.html" class="nav-link">Resume</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="404.html" class="nav-link">404 Page</a>
                  </li>
                  <li class="nav-item">
                    <a href="testimonial.html" class="nav-link">Testimonials</a>
                  </li>
                  <li class="nav-item">
                    <a href="faq.html" class="nav-link">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Catagories</a>
                  </li>
                  <li class="nav-item">
                    <a href="privacy-policy.html" class="nav-link"
                      >Privacy & Policy</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="terms-condition.html" class="nav-link"
                      >Terms & Conditions</a
                    >
                  </li>
                </ul>
              </li> -->
              <li class="nav-item">
                <a href="{% url 'blogs' %}" class="nav-link">Blogs</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'contact' %}" class="nav-link {% if request.META.PATH_INFO == '/contact-us/' %} active {% endif %}">Contact Us</a>
              </li>
            </ul>
            {% if request.user.is_authenticated %}
            <div class="other-option d-lg-flex flex-row flex-wrap gap-2 align-items-center">
              <a href=" {% url 'logout' %}" class="signup-btn">Logout</a>
              <!-- <a href=" {% url 'account' %}" class="signin-btn">Account</a> -->
              <a href=" {% url 'account' %}" class=" d-flex flex-row flex-wrap gap-2 align-items-center btn signin-btn pe-2 px-1 rounded-pill"> 
              {% if request.user.profile_picture %}
                  <img width="30px" height="30px" class="object-fit bg-dark rounded-circle" src="{{request.user.profile_picture.url}}" title="{% if request.user.get_full_name %} {{request.user.get_full_name}}  {% else %}Add Profile image {% endif %}" alt="{% if request.user.get_full_name %} {{request.user.get_full_name}}  {% else %}Add Profile image {% endif %}">
                {% else %}
                  <img class="object-fit bg-dark rounded-circle"  width="30px" height="30px" src="/static/assets/img/account.jpg" title="{% if request.user.get_full_name %} {{request.user.get_full_name}}  {% else %}Add Profile image {% endif %}" alt="{% if request.user.get_full_name %} {{request.user.get_full_name}}  {% else %}Add Profile image {% endif %}">
              {% endif %}
                 Hi,
                 {% if request.user.first_name %}
                    {{request.user.first_name}}
                  {% else %}
                    There
                 {% endif %}</a>
            </div>
            {% else %}
            <div class="other-option">
              <a href=" {% url 'signUp' %}" class="signup-btn">Sign Up</a>
              <a href=" {% url 'signIn' %}" class="signin-btn">Sign In</a>
            </div>
            {% endif %}
          </div>
        </nav>
      </div>
    </div>
  </div>